__pycache__/
*.py[cod]
.DS_Store
venv/
test.py
data/
explications/
test*.py
*-main.py
*.pkl
*main*.*
*test*.py
*vscode
*.keras
!12-test.py
*.h5
*.npz
*.png
*.jpg
*save*.py
logs_diary/
BLOG.md

!supervised_learning/transfer_learning/img/*
!supervised_learning/transfer_learning/0-main.py
